.nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav li a:hover {
    color: #1E60D5;
    text-decoration: underline;
}