.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
/* main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    flex-grow: 1;
} */